html,
body {
  height: 100vh;
}

body {
  font-size: 18px;
  line-height: 26px;
  color: #6f4849;
  display: flex;
  flex-direction: column;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 700px;
  min-height: 535px;
  margin: 100px auto 0;
  padding: 15px 15px;
  overflow: hidden;
  background-color: #ccd9e2;
  border-radius: 5px;
}

.error {
  border: 3px solid #ff0000;
  box-shadow: 1px 1px 2px 0 #ff0000;
  outline-color: #ff0000;
}
